<div class="container">

  <div id="trip" class="sa-cabin-select-container" tabindex="-1" role="navigation"
       *ngFor="let options of flightoptions; let flighIndex=index;">

    <div class="row sa-cabin-tab-nav">
      <div class="col-xs-12 col-sm-4 ohanddee__center">
        <ul class="ohanddee">
          <li>
            <h5 aria-label="Johannesburg">{{options.deptairportcode}}</h5>
            <span class="sr-only" id="departure_time2">Johannesburg Departure Time</span>
            <h2 aria-describedby="departure_time">{{options.departtime}}</h2>
          </li>
          <li>
            <i class="fa fa-long-arrow-right rtl-flip" aria-hidden="true"></i>
          </li>
          <li>
            <h5 aria-label="London Heathrow">{{options.arrivalairportcode}}</h5>
            <span class="sr-only" id="arrival_time2">London Heathrow Arrival Time</span>
            <h2 aria-describedby="arrival_time">{{options.arrivaltime}}</h2>
          </li>
          <li>
            <span>{{options.flightno}}</span><span>{{options.nonstop}}</span><span>{{options.duration}}</span>
          </li>
          <li>
            <a href="#">Flight Details</a><a href="#">Seat Map</a>
          </li>
        </ul>
      </div><!--End Col-->
      <div class="col-xs-12 col-sm-8 right-align">
        <ul class="tablist">
          <li id="tablist-li" class="sa-cabin-select-accordion-head tab m-t-md"
              *ngFor="let section of options.classes; let i = index" (click)="onItemClick(i)" role="button"
              aria-controls="cdd6" aria-expanded="false" tabindex="0" >
            <data class="upper-label" aria-hidden="true" value="First Class">{{section.class}}</data>
            <data class="upper-label" aria-hidden="true" value="First Class">{{section.class}}</data>
            <data class="upper-label" aria-hidden="true" value="First Class">{{section.class}}</data>
            <span class="fullblock">from</span>
            <data class="price-label" value="2,432.00"><span>{{section.currency}}</span>{{section.price}}</data>
            <data class="sa-option-select__select-cabin-tab" value="collapse" [style.background]="getBgColor(i)"><i
              class="fa fa-chevron-down" aria-hidden="true"></i></data>
            <data class="under-banner rtl-switch" aria-label="Best Deal!" value="Best Deal" *ngIf="getBestDealLabel(i)">Best Deal</data>
          </li>


        </ul>
      </div><!--End Col-->
    </div><!-- top row -->
    <div class="row">
      <div class="col-xs-12">
        <div id="region_wrapper2">
          <h3 id="cdd4-label" class="sr-only">Economy Listings Expanded. Tab to Options.</h3>
          <ul class="controlList sa-cabin-checkbox">
            <!-- display-table-cell-->
            <li class="col-xs-12 col-lg-4 sa-virtual-cabin animated fadeIn m-t-md"
                *ngFor="let upgrade of upgradeOptions; let i=index" (click)="selectedListItem = i">
              <label class="cabin-panel" for="p2_opt1" *ngIf="toggleSelection(i)">
                <span class="sr-only">Economy Basic Focused. Press enter to select.</span>
                <span class="h3 fullblock">{{upgrade.option}}<span class="sa-cabin-select-panel-content__inline-label">Best Value</span></span>
                <span class="small fullblock">{{upgrade.foodBeverage}}</span>
                <span class="small fullblock">{{upgrade.Wifi}}</span>
                <span class="small fullblock">{{upgrade.bookingRrefund}}</span>
                <span class=" bottom-prompt">{{upgrade.seatsLeft}}</span>
                <span class="price-label"><span>{{upgrade.currency}}</span> {{upgrade.price}}</span>
              </label>
              <input id="p2_opt1" class="" type="checkbox" name="cabin" value="Economy Basic" tabindex="1">

              <div *ngIf="!toggleSelection(i)" class="sa-cabin-is-checked">
              <span class="h3 fullblock">Selected!</span><br><span class="h6 fullblock">Now select an inbound flight.</span>
              </div>
            </li>
          </ul>

        </div><!-- end region wrapper -->
      </div>
    </div>

  </div>
</div>
