carts {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
}

.carts-header-wrapper {
  position: relative;
  display: block;
  height: 48px;
  background: white;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}
.carts-header-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

.prev-button,
.next-button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 32px;
  padding: 8px 0;
  z-index: 2;
  cursor: pointer;
}
.prev-button.disabled,
.next-button.disabled {
  opacity: 0.25;
  cursor: default;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button .prev-icon,
.next-button .next-icon {
  display: block;
  width: 12px;
  height: 12px;
  font-size: 0;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #757575;
  border-radius: 1px;
  transform: rotate(45deg);
  margin: 10px;
}

.next-button .next-icon {
  border-width: 2px 2px 0 0;
}

.carts-canvas {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: block;
  outline: none;
}

.carts-canvas.md2-paginated {
  margin: 0 32px;
}

.carts-header {
  position: relative;
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.cart-label {
  position: relative;
  height: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  padding: 12px 24px;
  transition: background-color 350ms cubic-bezier(0.35, 0, 0.25, 1);
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.cart-label.active {
  color: #106cc8;
}

.carts-canvas:focus .cart-label.focus {
  background: #0979C0;
  color: #FFFFFF;
}

.cart-label.disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  opacity: 0.5;
  cursor: default;
}

.cart-ink-bar {
  position: absolute;
  bottom: 0;
  height: 2px;
  /*background: #ff5252;*/
  transition: 250ms cubic-bezier(0.35, 0, 0.25, 1);
}

.carts-body-wrapper {
  position: relative;
  min-height: 0;
  display: block;
  clear: both;
}

cart {
  padding: 16px;
  display: none;
  position: relative;
}

cart.active {
  display: block;
  position: relative;
  background-color: red;
}
